button {
    background-color: white;
    width: 10vw;
    height: 6vh;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;

    outline: none;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

    font-family: "Inter", sans-serif;

    transition: 0.5s;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: black;
}