*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 70px;

    background-color: #0A086B;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.navbar-logo{
    width: 200px;
}
